<div class="container p-4">
    <div class="row">
        <div class="col-md-4 col-lg-12 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Welcome {{user.usuario}}</h3>
                    <h4>{{user.email}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-md-4 col-lg-6 mx-auto m-2">
            <div class="card bg-primary text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                    <p id="temp"></p>
                    <footer class="blockquote-footer text-white">
                        <small id="temp-text">
                            
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="col-md-4 col-lg-6 mx-auto m-2">
            <div class="card bg-info text-white text-center p-3">
                <blockquote class="blockquote mb-0">
                    <p id="hum"></p>
                    <footer class="blockquote-footer text-white">
                        <small id="hum-text">
                           
                        </small>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>