<main class="index">
    <div class="mastehead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">SECURITY SITE</h1>
            <h3 class="mb-5">
                <em>Save your Site</em>
            </h3>
            <a href="/signin" class="btn btn-primary">
                Let´s get Started
            </a>
        </div>
    </div>
</main>