<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Security Site</title>
    {{!- }}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
        integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>navigations }}
    {{#if succes}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="alert alert-succes alert-dismissible fade show" role="alert">
                    {{succes}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{{ body }}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script>
    var socket = io();
    socket.on('connect', function() {
        console.log('conectado al servidor');
    });
    socket.on('disconnect', function() {
        console.log('Se perdio la conexión con el servidor');
    });
    socket.on('enviarNotificacion', function(clima) {

        $('#temp').html('TEMPERATURA ' + clima.temperatura);
        $('#hum').html('HUMEDAD ' + clima.humendad);
        $('#hum-text').html(' último regristro <cite title="Source Title">'+ clima.temp_ult_registro +'</cite>');
        $('#temp-text').html(' último regristro <cite title="Source Title">'+ clima.hum_ult_registro +'</cite>');
    });
    socket.emit('eventoEjecutarArduino', {
        temperatura: '16%',
        humendad: '20%',
        temp_ult_registro: 'hace 5 min',
        hum_ult_registro: 'hace 10 min'
    });
</script>
</body>

</html>